<ion-header>
  <div style="padding: 5px;">
    <ion-row>

      <ion-button mode="ios" color="medium" (click)="cerrarClientes()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>  
    <ion-avatar>
      <img alt="Vender" src="https://static.semrush.com/blog/uploads/media/81/69/81699c8c370f16072b6655fc74dfb27c/top-5-actionable-ideas-for-upselling-your-agency-clients.svg" />
    </ion-avatar>
    <h1 style="padding: 5px;color:rgb(0, 0, 0);">Ventas</h1>
    
    </ion-row>
  </div>
</ion-header>

<ion-content>
  
  <ion-modal [isOpen]="buscarCienteModalVal" style="justify-content: flex-start;">
    <ng-template>

      <ion-header>
        <div style="padding: 5px;">
          <ion-row>
      
            <ion-button mode="ios" color="medium" (click)="buscarCienteModal(false)">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>  
          <ion-avatar>
            <img alt="Vender" src="https://static.semrush.com/blog/uploads/media/81/69/81699c8c370f16072b6655fc74dfb27c/top-5-actionable-ideas-for-upselling-your-agency-clients.svg" />
          </ion-avatar>
          <h1 style="padding: 5px;color:rgb(0, 0, 0);">Ventas: Cliente</h1>
          
          </ion-row>
        </div>
      </ion-header>

      <ion-content>
        <ion-searchbar placeholder="Buscar" animated (ionInput)="buscarCiente($event)" slot="fixed"></ion-searchbar>
      
        <br><br><br>

        <ion-row style="vertical-align: auto;">
          <ion-card color="light" *ngFor="let cliente of clientes;" (click)="selectCliente(cliente)" style="width: 100%;">
            <ion-card-content style="display: flex; align-items: center;">
              <div style="flex: 1;">
                <img class="img" src="{{cliente.fotografia}}" alt="fotografia" style="border-radius: 5%; max-width: 100px; margin-right: 1rem;">
              </div>
              <div style="flex: 2;">
                <ion-card-title style="color: #FF6347; font-size: 1.8rem;">{{cliente.nombre}}</ion-card-title>
                <ion-card-subtitle style="font-size: 1rem; margin-bottom: 1rem;">{{cliente.domicilio}}</ion-card-subtitle>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Correo Electrónico:</b> {{cliente.correo}}</p>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Teléfono:</b> {{cliente.telefono}}</p>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Período para Cobrar:</b> {{cliente.periododecobrar}}</p>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Día de Cobro:</b> {{cliente.diacobrar}}</p>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Hora de Cobro:</b> {{cliente.horacobrar}}</p>
                <p style="font-size: 0.8rem;">{{cliente.idtienda}}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-content>

    </ng-template>
  </ion-modal>

  <!-- MODAL PARA PRODUCTOS -->

  <ion-modal [isOpen]="buscarProductoModalVal" style="justify-content: flex-start;">
    <ng-template>

      <ion-header>
        <div style="padding: 5px;">
          <ion-row>
      
            <ion-button mode="ios" color="medium" (click)="AgregarProductoModal(false)">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>  
          <ion-avatar>
            <img alt="Vender" src="https://static.semrush.com/blog/uploads/media/81/69/81699c8c370f16072b6655fc74dfb27c/top-5-actionable-ideas-for-upselling-your-agency-clients.svg" />
          </ion-avatar>
          <h1 style="padding: 5px;color:rgb(0, 0, 0);">Ventas: Producto</h1>
          
          </ion-row>
        </div>
      </ion-header>

      <ion-content>
        <ion-searchbar placeholder="Buscar" animated (ionInput)="buscarProducto($event)" slot="fixed"></ion-searchbar>
      
        <br><br><br>

        <ion-row>
          <ion-card color="light" *ngFor="let producto of productos;" (click)="selectProducto(producto)" style="width: 100%;">
            <ion-card-content style="display: flex; align-items: center;">
              <div style="flex: 1;">
                <img class="img" src="{{producto.fotografia}}" alt="fotografia" style="border-radius: 5%; max-width: 100px; margin-right: 1rem;">
              </div>
              <div style="flex: 2;">
                <ion-card-title style="color: #FF6347; font-size: 1.8rem;">{{producto.nombre}}</ion-card-title>
                <ion-card-subtitle style="font-size: 1rem; margin-bottom: 1rem;">{{producto.descripcion}}</ion-card-subtitle>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Cantidad:</b> {{producto.cantidad}}</p>
                <p style="font-size: 0.9rem;"><b style="color: #FF6347;">Precio:</b> {{producto.precioventa}}</p>
                <p style="font-size: 0.8rem;">{{producto.idtienda}}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-content>

    </ng-template>
  </ion-modal>

  <!-- PANTALLA FINAL AL TERMINAR -->

  <ion-modal [isOpen]="final" style="justify-content: flex-start;">
    <ng-template>

      <ion-header>
        <div style="padding: 5px;">
          <ion-row>
      
          <ion-avatar>
            <img alt="Vender" src="https://static.semrush.com/blog/uploads/media/81/69/81699c8c370f16072b6655fc74dfb27c/top-5-actionable-ideas-for-upselling-your-agency-clients.svg" />
          </ion-avatar>
          <h1 style="padding: 5px;color:rgb(0, 0, 0);">Ventas: Ticket</h1>
          
          </ion-row>
        </div>
      </ion-header>

      <ion-content>
        <ion-item>
          <h1>Ticket: {{idticket}}</h1>
        </ion-item>

        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Costo</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let producto of selectedProductos;">
              <tr>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precioventa}}</td>
                <td>{{producto.cantidadventa}}</td>
                <td>{{parIn(producto.precioventa, producto.cantidadventa)}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <ion-item>
          <ion-label>Total: </ion-label>
          <label slot="end">{{total}}</label>
        </ion-item>
      </ion-content>

      <ion-button mode="ios" color="medium" (click)="retur()">
        Aceptar
      </ion-button>  

    </ng-template>
  </ion-modal>

  <ion-item (click)="buscarCienteModal(true)">
    <ion-label>Cliente: </ion-label>
    <ion-label>{{cliente.nombre}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Productos: </ion-label>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let product of selectedProductos">
      <ion-item>
        <ion-thumbnail slot="start" style="width: 25%; height: 100px;">
          <img [src]="product.fotografia" alt="Product Image">
        </ion-thumbnail>
        <ion-label slot="start">
          <h2>{{product.nombre}}</h2>
          <p>Precio: {{product.precioventa}}</p>
        </ion-label>
        <ion-buttons slot="end" style="width: 65%;">
          <ion-button (click)="decrement(product)">-</ion-button>
          <ion-input style="text-align: center;" type="number" [(ngModel)]="product.cantidadventa" (ionInput)="checkStock(product)"></ion-input>
          <ion-button (click)="increment(product)">+</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item-options side="end" style="width: 20%;">
        <ion-item-option  style="width: 100%; height: 100%;" color="danger" (click)="deleteProduct(product)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="AgregarProductoModal(true)">
    <ion-fab-button>
      <ion-icon name="add" id="ion-fab-button"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons  class="ion-justify-content-center">
      <ion-button id="button" (click)="vender()">Realizar venta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
